/* ===== FULL BACKGROUND ===== */

.signup-page {
  height: 100vh;
  background:
    url("https://images.unsplash.com/photo-1517602302552-471fe67acf66")
      center/cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  position: relative;
  color: white;
}

/* Dark overlay */

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.9)
  );
}

/* LOGO */

.logo {
  position: absolute;
  top: 25px;
  left: 40px;
  font-size: 42px;
  font-weight: bold;
  color: #ff2e63;
  z-index: 2;
}

/* CARD */

.signup-card {
  background: rgba(0,0,0,0.75);
  padding: 45px 35px;
  border-radius: 14px;
  width: 380px;
  backdrop-filter: blur(15px);
  box-shadow: 0 25px 70px rgba(0,0,0,0.9);
  z-index: 2;
}

.signup-card h2 {
  margin-bottom: 6px;
}

.subtitle {
  color: #bbb;
  margin-bottom: 25px;
  font-size: 14px;
}

/* INPUT GROUP */

.input-group {
  position: relative;
  margin-bottom: 22px;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 13px;
  background: #111;
  border: 1px solid #333;
  border-radius: 6px;
  color: white;
  font-size: 15px;
}

/* FLOATING LABEL */

.input-group label {
  position: absolute;
  top: 13px;
  left: 12px;
  color: #aaa;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label,
.input-group select:focus + label,
.input-group select:valid + label {
  top: -9px;
  left: 8px;
  font-size: 12px;
  background: black;
  padding: 0 5px;
  color: white;
}

/* Date label fix */

.date-label {
  top: -9px;
  font-size: 12px;
  background: black;
  padding: 0 5px;
}

/* PASSWORD EYE */

.eye {
  position: absolute;
  right: 12px;
  top: 13px;
  cursor: pointer;
}

/* BUTTON */

.signup-btn {
  width: 100%;
  padding: 14px;
  background: linear-gradient(90deg, #ff2e63, #ff6b81);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.signup-btn:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(255, 46, 99, 0.6);
}

/* RESPONSIVE */

@media (max-width: 450px) {
  .signup-card {
    width: 90%;
    padding: 30px;
  }

  .logo {
    font-size: 32px;
  }
}